<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>0</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>greater</key>
		<integer>0</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>d</key>
		<integer>0</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>g</key>
		<integer>0</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<integer>0</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>k</key>
		<integer>0</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>m</key>
		<integer>0</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>p</key>
		<integer>0</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>q</key>
		<integer>0</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>s</key>
		<integer>0</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>0</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>w</key>
		<integer>0</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>x</key>
		<integer>0</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>y</key>
		<integer>0</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>z</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
